<header class="mdc-toolbar">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <span class="mdc-toolbar__title">GeorgeLand</span>
    </section>
</header>

<div class="demo-content mdc-toolbar-fixed-adjust">
    <nav class="mdc-permanent-drawer">
      <div class="mdc-list-group">
        <nav class="mdc-list">
          <a class="mdc-list-item mdc-permanent-drawer--selected" href="#">
            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">inbox</i>Inbox
          </a>
        </nav>
      </div>
    </nav>
    <main class="demo-main">
      <h1 class="mdc-typography--display1">This is the first content</h1>
      <p class="mdc-typography--body1">Victoire</p>
    </main>
</div>