.temperature-sensor{
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 50em;
    border: 10px solid #C71C97;
    font-size: 34px;
    line-height: 100px;
}

.cell{
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    margin: 2px;
    padding: 2px;
    display:block;
    box-sizing: content-box;
    padding: 25px 0;
    width: 120px;
}