<html>
    <head>
      {% if title %}
      <title>{{ title }} - GeorgeLand</title>
      {% else %}
      <title>Welcome to GeorgeLand</title>
      {% endif %}
    </head>
    <body>
        <div>GeorgeLand: 
          <a href="{{url_for('index')}}">Home</a>
          {% if user.is_anonymous %}
          <a href="{{url_for('login')}}">Login</a>
          {% else %}
          <a href="{{url_for('logout')}}">Logout</a>
          {% endif %}
          <hr>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>