.content{
    padding: 20px;
}

#heat-sensor{
    display:block;
    box-sizing: content-box;
    padding: 25px 0;
    width: 120px;
}

.temperature-sensor{
    background-color: #FFFFFF;
    border-radius: 50em;
    border: 10px solid #C71C97;
    height: 100px;
    width: 100px;
    font-size: 34px;
    line-height: 100px;
}

.cell{
    margin: 0 auto;
    text-align: center;
    /*background-color: #596FB3*/;
    /*border: 1px solid #3D3D64*/;
    margin: 2px;
    padding: 2px;
}